{% extends "KaguBundle::Layout/base.html.twig" %} {% block title %}Kagu - Les idées viennent de chez vous{% endblock %} {% block head %} {{ parent() }} {% endblock %} {% block content %}

<section class="row second-nav">
    <div class="large-18 columns">
        <nav>
            <ul class="menu menu-profil">
                <li><a href="" class="active">Mon profil</a></li>
                <li><a href="">Boite de réception</a></li>
                <li><a href="">Ma wishlist</a></li>
                <li><a href="" >Mes ambiances</a></li>
                <li><a href="">Mes ventes</a></li>
                <li><a href="">Mes achats</a></li>
                <li><a href="">Mes locations</a></li>
            </ul>
        </nav>
    </div>

</section>
<div class="main account">
    <div class="large-18 columns">
        <div class="row">
            <aside class="large-4 small-14 columns profil">
                <div class=""><img src="{{ asset('img/valentin.jpg') }}" alt="Nom prénom"></div>
                <h2>{{ app.user.prenom }} {{ app.user.nom }} </h2>
                <div class="row align-center"><a href="">Modifier ma photo</a>&nbsp;&nbsp;-&nbsp;&nbsp;<a href="">Se déconnecter</a></div>
            </aside>
            <section class="large-16 small-18 columns container-profil">
                <div class="title-profil">
                    <h1 class="large-8 columns">Mes informations</h1>
                </div>
                <div class="content-profil">

                    {% block fos_user_content %} {% include "FOSUserBundle:Profile:edit_content.html.twig" %} {% endblock fos_user_content %}
                </div>
            </section>
        </div>
    </div>
</div>


{% endblock %} {% block javascripts %} {{ parent() }} {% endblock %}
