{% extends "KaguBundle::Layout/base.html.twig" %} {% block title %}Résultats {% endblock %} {% block head %} {{ parent() }} {% endblock %} {% block content %}

<div class="main results">
    <section class="large-18 columns">
        <div class="row top-results">
            <div class="colums large-10 text-left">
                <h3 id="">Résultat de recherche pour : {{ searchTag|default('') }}</h3>
            </div>
            <div class="colums large-10 text-right">
                <a href="#"><span class="icon-menu"></span> Filtres</a>
            </div>

        </div>
        <div class="row middle-results">
            <ul class="row list-ambiance">
                {% for ambiance in ambiances %}
                     <li class="large-10 small-20 columns item-ambiance">
                        <h2><a href="{{ path('kagu_ambiance_ambiance', { ambiance: ambiance.id } ) }}">{{ ambiance.titre }}</a></h2>

                        <p class="user">{{ ambiance.pseudo }}</span></p>
                        <p class="localisation"><span class="icon-pin"></span>{{ ambiance.ville }}</p>

                        <div class="img-container"><img src="{{ asset('img/ambiance/' ~ ambiance.photo) }}" alt="{{ ambiance.titre }}"/>
                         <p class="location">{{ ambiance.prix }} € <span>/mois</span></p>
                         <p class="prix">{{ ambiance.prix * 10 }}€ <span>achat</span></p>
                         <span class="icon-heart"></span> 
                         </div>
                        <p class="description">{{ ambiance.description }}</p>
                       
                    </li>
                    
                    {% endfor %}
            </ul>
        </div>

    </section>
</div>
{% endblock %} {% block javascripts %} {{ parent() }} {% endblock %}