{% extends "KaguBundle::Layout/base.html.twig" %} {% block title %}Ajouter une ambiance{% endblock %} {% block head %} {{ parent() }} {% endblock %} {% block content %}
<section class="row second-nav">
    <div class="large-18 columns">
    <nav>
       <ul class="menu menu-profil">
        <li><a href="">Mon profil</a></li>
        <li><a href="">Boite de réception</a></li>
        <li><a href="">Ma wishlist</a></li>
        <li><a href="" class="active">Mes ambiances</a></li>
        <li><a href="">Mes ventes</a></li>
        <li><a href="">Mes achats</a></li>
        <li><a href="">Mes locations</a></li>
        </ul> 
        </nav>
    </div>

</section>
<div class="main account">
        <div class="large-18 columns">
            <div class="row">
            <aside class="large-4 small-14 columns profil">
               <div class=""><img src="{{ asset('img/valentin.jpg') }}" alt="Nom prénom"></div> 
                <h2>{{ app.user.prenom }} {{ app.user.nom }} </h2>
                <a href="">Modifier mon profil</a>
            </aside>
            <section class="large-16 small-18 columns container-profil">
                <div class="title-profil">
                    <h1 class="large-8 columns">Mes ambiances</h1>
                    <a href="{{ path('kagu_add_ambiance') }}" class="red-button columns">+ Ajouter une ambiance</a>
                </div>
                <div class="content-profil">
                
                
                <ul class="row list-ambiance">
                    {% for ambiance in ambiances %}
                    
                    
                     <li class="large-10 small-20 columns item-ambiance">
                        <h2><a href="{{ path('kagu_ambiance_ambiance', { ambiance: ambiance.annonce.id } ) }}">{{ ambiance.annonce.titre }}</a></h2>
                        <p class="user">{{ app.user.prenom }} {{ app.user.nom }}</span></p>
                        <p class="localisation"><span class="icon-pin"></span>Paris</p>
                        <div class="img-container"><img src="{{ asset('img/ambiance/' ~ ambiance.annonce.photo) }}" alt="{{ ambiance.annonce.titre }}"/>
                         <p class="location">{{ ambiance.prix }} € <span>/mois</span></p>
                         <p class="prix">{{ ambiance.prix * 10 }}€ <span>achat</span></p>
                         <span class="icon-heart"></span> 
                         </div>
                        <p class="description">{{ ambiance.annonce.description }}</p>
                         
                         <!-- On enlève ?

                        <p>{% if ambiance.annonce.public %}
                            <a href="{{ path('kagu_publish_ambiance', { ambiance : ambiance.annonce.id }) }}">Retirer</a>
                            {% else %}
                            <br/><div class="action align-center"><a href="{{ path('kagu_publish_ambiance', { ambiance : ambiance.annonce.id }) }}"><span class="icon icon-check"></span></a> {% endif %}-->
                         
                         <!-- A supprimer quand c'est des résultats de recherche -->
                        <div class="action align-center">
                            
                            <a href="{{ path('kagu_edit_ambiance', { ambiance : ambiance.annonce.id }) }} "><span class="icon icon-edit"></span></a>
                            <a href="{{ path('kagu_delete_ambiance', { ambiance: ambiance.annonce.id }) }}"><span class="icon icon-close"></span></a>
                            </div>
                        
                       
                    </li>
                    
                     <!-- On affiche pas les objets 
                            <ul>
                                {% for objet in ambiance.objets %}
                                <li>
                                    <h4>{{ objet.titre }}</h4>
                                    <p>{{ objet.prix }} €</p>
                                    <p>{{ objet.description }}</p>
                                </li>
                                {% endfor %}
                            </ul>
                        -->
                    
                 
                    {% endfor %}
                </ul>
                    </div>
            </section>
        </div>
    </div>
</div>
{% endblock %} {% block javascripts %} {{ parent() }} {% endblock %}